extend ./layout 
  
block content
  #ch-main-working
    #ch-tutorial.ui-layout-west
      #epiceditor-preview
        
    .ui-layout-center
      .ch-codeeditor-body
      
    .ui-layout-east
      .ch-file-lists
    .ui-layout-south
      .ch-console
        
block booter

block append stylesheets

block append javascript
  script(src='lib/socket.io.js')
  script(src='lib/ace/ace.js')
  script(src="epiceditor/js/epiceditor.js")
  script(src="lib/jquery.layout-latest.min.js") 
  script(src='javascripts/app.js')
  script(src="lib/marked.js")
  script
    require('initialize')
    var csrf = "#{ csrf }"
    $.ajaxSetup({
        headers: {
          'X-CSRF-Token': csrf
        }
    });