span#todo-count
  strong
  span.todo-count-title items
  | left
ul#filters
  li
    a(href="#/") All
  li
    a(href="#/active") Active
  li
    a(href="#/completed") Completed
button#clear-completed
  | Clear completed
  span#completed-count