.panel.panel-default
	.panel-heading.ch-codeeditor-head
		ul.nav.nav-tabs.ch-codeeditor-tabs
			li.active
				a(href="#") Home
				button.btn.btn-group-xs.btn-default(type="button")
			li
				a(href="#") Profile
				
	.panel-body.ch-codeeditor.ch-codeeditor-content