
ul.nav.nav-pills.document-list
	li.navbar-left
		a.action-to-parent(href="#")
			i.glyphicon.glyphicon-arrow-up

	li.navbar-right
		a.action-create-folder(href="#")
			button.btn.btn-default.btn-xs(type="button")
				span.glyphicon.glyphicon-plus
	form.navbar-right.action-new-folder-name
		.form-group.input-group.input-group-sm
			input.form-control.new-folder-name(type="text",placeholder="Search")

.list-group.document-list
