
span.name
	- var file_icon = file.icon()
	if file.isDirectory()
		i.glyphicon.glyphicon-folder-open(class="fa-#{ file_icon }" )
	else
		i.glyphicon.glyphicon-file(class="fa-#{ file_icon }" )
	= file.get("name")
if file.isDirectory()
	.files
